body{
    background-image: url(img/bg_main.jpg);
    background-size: cover;
}
.modal_search{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: 99;
}
.con_modal{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}
.con_contenido_modal{
    overflow: scroll;
    background: white;
    width: 800px;
}
.con_btn_cerrar{
    position: absolute;
    right: 50px;
    top: 20px;
    padding: 10px;
    cursor: pointer;
}
table{
    margin-left: 10px;
    width: calc(100% - 20px);
}
table tr th,td{
    padding: 10px;
    border-bottom: 1px solid #d4950e;
}